<div class="modal-header bg-primary">
    <label class="fw-bold text-light text-uppercase me-1"><%= 'booking id ' + booking.bid %></label>
    <label class="fw-bold text-light text-uppercase"><%= booking.flighttype + ' ' + booking.class %></label>
    <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal" aria-label="Close"></button>
</div>
<div class="modal-body p-0">
    <ul class="nav nav-tabs" id="myTab" role="tablist">
        <li class="nav-item" role="presentation">
        <button class="nav-link active" id="flight-info-tab" data-bs-toggle="tab" data-bs-target="#flight-info" type="button" role="tab" aria-selected="true">Flight info</button>
        </li>
        <li class="nav-item" role="presentation">
        <button class="nav-link" id="payment-info-tab" data-bs-toggle="tab" data-bs-target="#payment-info" type="button" role="tab" aria-selected="false">Payment info</button>
        </li>
        <li class="nav-item" role="presentation">
        <button class="nav-link" id="booking-info-tab" data-bs-toggle="tab" data-bs-target="#booking-info" type="button" role="tab" aria-selected="false">Booking info</button>
        </li>
    </ul>
      <div class="tab-content" id="myTabContent">
        <div class="tab-pane fade show active" id="flight-info" role="tabpanel">
            <% for(let i = 0; i < flights.length; i++){ %>
                <div class="container position-relative bg-white shadow-sm">
                    <div class="row px-3 py-2" role="button" data-bs-toggle="collapse" href="#flight-<%= flights[i]._id %>" aria-expanded="false">
                        <div class="col-6 pe-0 align-self-center airline-detail">
                            <img src="<%= flights[i].transits[0].flight.airline.logo_path %>" class="pe-0 py-auto airline-logo" style="height: 30px;">
                            <span class="ms-2 fw-bold align-middle airline-name" style="font-size: 1rem;"><%= flights[i].transits[0].flight.airline.name %></span><br>
                        </div>
                        <div class="col-6 ps-0 travel-detail">
                            <div class="row justify-content-end">
                                <div class="col-5 col-md-4 text-center pe-0">
                                    <label class="text-muted fw-bold" style="font-size: 0.5rem;"><%= new Date(flights[i].transits[0].departuredate).toDateString().slice(4) %></label><br>
                                    <label class="fw-bold departure-time" style="font-size: 1rem;"><%= flights[i].transits[0].flight.departuretime %></label><br>
                                    <label class="text-muted fw-bold departure-from-iata"><%= flights[i].transits[0].flight.from.iata %></label>
                                </div>
                                <div class="col-2 col-md-3 mx-md-1 text-center px-0">
                                    <label class="text-muted fw-bold" style="font-size: 0.5rem;">
                                        <% if(flights[i].transits.length == 1){ %>direct
                                        <% } else if(flights[i].transits.length == 2){ %>1 transit
                                        <% } else if(flights[i].transits.length > 2){ %><%= flights[i].transits.length - 1 %> transits<% } %> 
                                    </label><br>
                                    <span class="text-primary align-middle"><i class="fas fa-plane fs-6"></i></span><br>
                                    <label class="fw-bold" style="font-size: 0.6rem;"><%= flights[i].totalduration %></label><br>
                                </div>
                                <div class="col-5 col-md-4 text-center ps-0">
                                    <label class="text-muted fw-bold" style="font-size: 0.5rem;"><%= new Date(flights[i].transits[flights[i].transits.length - 1].arrivaldate).toDateString().slice(4) %></label><br>
                                    <label class="fw-bold arrival-time" style="font-size: 1rem;"><%= flights[i].transits[flights[i].transits.length - 1].flight.arrivaltime %></label><br>
                                    <label class="text-muted fw-bold arrival-to-iata"><%= flights[i].transits[flights[i].transits.length - 1].flight.to.iata %></label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="collapse pb-3 px-3 align-self-center flight-collapse" id="flight-<%= flights[i]._id %>">
                        <!-- <hr class="my-0"> -->
                        <div class="container px-3 mb-3">
                            <% for(let j = 0; j < flights[i].transits.length; j++) {%>
                                <div class="row mb-2">
                                    <div class="col col-lg-12 border rounded-3 mt-3 py-2 px-3">
                                        <label class="fw-bold fs-5"><%= flights[i].transits[j].flight.airline.name + ' ' + flights[i].transits[j].flight.name %></label><br>
                                        <label class="fw-bold text-primary" style="font-size: 0.8rem;">aircraft <%= flights[i].transits[j].flight.aircraft.model %></label>
                                        <label class="fw-bold text-secondary" style="font-size: 0.8rem;">seat <%= flights[i].transits[j].flight.aircraft.seats[flights[i].class].seatlayout %></label>
                                        <label class="fw-bold text-secondary" style="font-size: 0.8rem;">seat pitch <%= flights[i].transits[j].flight.aircraft.seats[flights[i].class].seatpitch %> inch.</label>
                                    </div>
                                </div>
                                <div class="row border rounded-3 pb-3 px-3 mb-3">
                                    <div class="me-3 mt-3">
                                        <div class="row justify-content-center p-3">
                                            <div class="col-4 col-md-3 text-end me-2">
                                                <label class="fw-bold" style="font-size: 0.6rem;"><%= new Date(flights[i].transits[j].departuredate).toDateString().slice(4) %></label><br>
                                                <label class="fw-bold fs-4"><%= flights[i].transits[j].flight.departuretime %></label><br>
                                                <label class="fw-bold text-secondary" style="font-size: 0.8rem;"><%= flights[i].transits[j].flight.from.shortname + ' (' + flights[i].transits[j].flight.from.iata + ')' %></label>
                                            </div>
                                            <div class="col-3 col-sm col-md-5 position-relative align-self-center text-center px-0">
                                                <div class="progress" style="height: 2px;">
                                                    <div class="progress-bar" style="width: 100%;"></div>
                                                </div>
                                                <button type="button" class="position-absolute top-0 start-0 translate-middle btn btn-sm btn-primary rounded-circle" style="height:1.1rem;"></button>
                                                <button type="button" class="position-absolute top-0 start-100 translate-middle btn btn-sm btn-primary rounded-circle" style="height:1.1rem;"></button>
                                                <label class="fw-bold text-primary"><%= flights[i].transits[j].duration %></label><br>
                                            </div>
                                            <div class="col-4 col-md-3 test-start ms-2">
                                                <label class="fw-bold" style="font-size: 0.6rem;"><%= new Date(flights[i].transits[j].arrivaldate).toDateString().slice(4) %></label><br>
                                                <label class="fw-bold fs-4"><%= flights[i].transits[j].flight.arrivaltime %></label><br>
                                                <label class="fw-bold text-secondary" style="font-size: 0.8rem;"><%= flights[i].transits[j].flight.to.shortname + ' (' + flights[i].transits[j].flight.to.iata + ')' %></label>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg border rounded-3 mt-3 me-3 py-2 px-3">
                                        <label class="fw-bold text-primary" style="font-size: 0.8rem;"><i class="fas fa-luggage-cart me-2"></i>
                                            <% if(flights[i].transits[j].flight.class[flights[i].class].facility.baggage.number < 1) { %>baggage (buy in at booking)
                                            <% } else { %>baggage <%= '(x' + flights[i].transits[j].flight.class[flights[i].class].facility.baggage.number + ') ' + flights[i].transits[j].flight.class[flights[i].class].facility.baggage.weight %>)<% } %>
                                        </label><br>
                                        <label class="fw-bold text-primary" style="font-size: 0.8rem;"><i class="fas fa-suitcase me-2"></i>
                                            cabin baggage <%= flights[i].transits[j].flight.class[flights[i].class].cabin_baggage %> kg.
                                        </label><br>
                                        <% if(flights[i].transits[j].flight.class[flights[i].class].facility.extra_baggage == 'on') { %>
                                            <label class="fw-bold text-primary" style="font-size: 0.8rem;"><i class="fas fa-info-circle me-2"></i>extra baggage is available</label>
                                        <% } else { %>
                                            <label class="fw-bold text-secondary" style="font-size: 0.8rem;"><i class="fas fa-info-circle me-2"></i>extra baggage is not available</label>
                                        <% } %>
                                    </div>
                                    <div class="col-lg border rounded-3 mt-3 me-3 py-2 px-3">
                                        <% if(flights[i].transits[j].flight.class[flights[i].class].facility.entertainment == 'on') { %>
                                            <label class="fw-bold text-primary" style="font-size: 0.8rem;"><i class="fas fa-photo-video me-2"></i>inflight entertainment</label><br>
                                        <% } else {%>
                                            <label class="fw-bold text-secondary" style="font-size: 0.8rem;"><i class="fas fa-photo-video me-2"></i>inflight entertainment</label><br>
                                        <% } %>
                                        <% if(flights[i].transits[j].flight.class[flights[i].class].facility.meal == 'on') { %>
                                            <label class="fw-bold text-primary" style="font-size: 0.8rem;"><i class="fas fa-utensils me-2"></i>inflight meal</label><br>
                                        <% } else {%>
                                            <label class="fw-bold text-secondary" style="font-size: 0.8rem;"><i class="fas fa-utensils me-2"></i>inflight meal</label><br>
                                        <% } %>
                                        <% if(flights[i].transits[j].flight.class[flights[i].class].facility.wifi == 'on') { %>
                                            <label class="fw-bold text-primary" style="font-size: 0.8rem;"><i class="fas fa-wifi me-2"></i>wifi</label><br>
                                        <% } else {%>
                                            <label class="fw-bold text-secondary" style="font-size: 0.8rem;"><i class="fas fa-wifi me-2"></i>wifi</label><br>
                                        <% } %>
                                        <% if(flights[i].transits[j].flight.class[flights[i].class].facility.usbport == 'on') { %>
                                            <label class="fw-bold text-primary" style="font-size: 0.8rem;"><i class="fab fa-usb me-2"></i>USB port</label>
                                        <% } else {%>
                                            <label class="fw-bold text-secondary" style="font-size: 0.8rem;"><i class="fab fa-usb me-2"></i>USB port</label>
                                        <% } %>
                                    </div>
                                </div>
                            <% } %>
                        </div>
                    </div>
                </div>
            <% }; %>
        </div>
        <div class="tab-pane fade" id="payment-info" role="tabpanel">
            <div class="container bg-white shadow-sm p-3">
                <% if(booking.status == "WFP") { %> 
                    <div class="row my-3 text-center">
                        <h1 class="text-warning fw-bold" style="font-size: 5rem;"><i class="fas fa-dollar-sign"></i></h1>
                        <h2 class="text-warning fw-bold">WAIT FOR PURCHASE</h2>
                        <label class="text-muted">you have not paid.</label>
                    </div>
                <% } else if(booking.status == "UPC") { %> 
                    <div class="row my-3 text-center">
                        <h1 class="text-primary fw-bold" style="font-size: 5rem;"><i class="fas fa-search-dollar"></i></h1>
                        <h2 class="text-primary fw-bold">UNDER PROCESSING</h2>
                    <label class="text-muted">wait for verification of your purchase</label>
                </div>
                <% } else if(booking.status == "CPL") { %>
                    <div class="row my-3 text-center">
                        <h1 class="fc-ocean fw-bold" style="font-size: 5rem;"><i class="far fa-check-circle"></i></h1>
                        <h2 class="fc-ocean fw-bold">PURCHASE COMPLETE</h2>    
                    </div>
                <% } %>
                <hr>
                <div class="row align-items-end">
                    <h4><i class="fas fa-money-bill me-2"></i>Price Details</h4>
                </div>
                <div class="row ps-2">
                    <% if(booking.traveler.adult.length > 0){ %> 
                        <div class="col col-sm-8">
                            <label class="fw-bold text-secondary">Adult (x<%= booking.traveler.adult.length %>)</label>
                        </div>
                        <div class="col col-sm-4 text-end">
                            <label class="fw-bold text-primary"><%= (booking.price.adult * booking.traveler.adult.length).toFixed(2) %> USD</label>
                        </div>
                    <% } %> 
                </div>
                <div class="row ps-2">
                    <% if(booking.traveler.child.length > 0){ %> 
                    <div class="col col-sm-8">
                        <label class="fw-bold text-secondary">Child (x<%= booking.traveler.child.length %>)</label>
                    </div> 
                    <div class="col col-sm-4 text-end">
                        <label class="fw-bold text-primary"><%= (booking.price.child * booking.traveler.child.length).toFixed(2) %> USD</label>
                    </div>
                    <% } %> 
                </div>
                <div class="row ps-2">
                    <% if(booking.traveler.infant.length > 0){ %> 
                    <div class="col col-sm-8">
                        <label class="fw-bold text-secondary">Child (x<%= booking.traveler.infant.length %>)</label>
                    </div>
                    <div class="col col-sm-4 text-end">
                        <label class="fw-bold text-primary"><%= (booking.price.infant * booking.traveler.infant.length).toFixed(2)  %> USD</label>
                    </div>
                    <% } %> 
                </div>
                <div class="row ps-2">
                    <div class="col col-sm-8">
                        <label class="fw-bold text-secondary">TAX.</label>
                    </div>
                    <div class="col col-sm-4 text-end">
                        <label class="fw-bold text-muted">included</label>
                    </div>
                </div>
                <hr class="mb-2">
                <div class="row ps-2">
                    <div class="col col-sm-8">
                        <label class="fw-bold text-secondary">Total</label>
                    </div>
                    <div class="col col-sm-4 text-end">
                        <label class="fw-bold text-primary"><%= (booking.price.adult * booking.traveler.adult.length + booking.price.child * booking.traveler.child.length + booking.price.infant * booking.traveler.infant.length).toFixed(2) %>  USD</label>
                    </div>
                </div>
            </div>
    </div>
        <div class="tab-pane fade" id="booking-info" role="tabpanel">
            <div class="container position-relative bg-white shadow-sm p-3">
                <div class="row align-items-end">
                    <h4><i class="fas fa-address-book me-2"></i>Contact Details</h4>
                </div>
                <hr class="mb-3 mt-1">
                <div class="row mb-3 px-2">
                    <div class="col-lg-6">
                        <label class="form-label text-muted mb-0">First Name & Middle Name</label><br>
                        <label class="fw-bold text-primary fs-5"><%= booking.contract.firstname %></label>
                    </div>
                    <div class="col-lg-6">
                        <label class="form-label text-muted mb-0">Family Name / Last Name</label><br>
                        <label class="fw-bold text-primary fs-5"><%= booking.contract.lastname %></label>
                    </div>
                    <div class="col-lg-6">
                        <label class="form-label text-muted mb-0">Mobile Number</label><br>
                        <label class="fw-bold text-primary fs-5"><%= booking.contract.tel %></label>
                    </div>
                    <div class="col-lg-6">
                        <label class="form-label text-muted mb-0">Email</label><br>
                        <label class="fw-bold text-primary fs-5"><%= booking.contract.email %></label>
                    </div>
                </div>
                <div class="row align-items-end">
                    <h4><i class="fas fa-user-edit me-2"></i>Traveler Details <span class="fs-5 text-muted"><%= booking.traveler.adult.length + booking.traveler.child.length + booking.traveler.infant.length %> people</span></h4>
                </div>
                <hr class="mb-3 mt-1">
                <div class="row mb-2 px-2">
                    <% for(let i = 0; i < booking.traveler.adult.length; i++) { %> 
                    <h5 class="fw-bold"><i class="fas fa-user-alt me-2"></i>Adult <%= i + 1 %></h5>
                    <div class="col-lg-6">
                        <label class="form-label text-muted mb-0">Full Name</label><br>
                        <label class="fw-bold text-primary fs-5"><%= booking.traveler.adult[i].title + booking.traveler.adult[i].firstname + ' ' + booking.traveler.adult[i].lastname %></label>
                    </div>
                    <div class="col-lg-6">
                        <label class="form-label text-muted mb-0">Date of Birth</label><br>
                        <label class="fw-bold text-primary fs-5"><%= ('0' + booking.traveler.adult[i].dateofbirth.getDate()).slice(-2) + '/' + ('0' + (booking.traveler.adult[i].dateofbirth.getMonth() + 1)).slice(-2) + '/' + booking.traveler.adult[i].dateofbirth.getFullYear() %></label>
                    </div>
                    <% } %>
                    
                </div>
                <div class="row mb-2 px-2">
                    <% for(let i = 0; i < booking.traveler.child.length; i++) { %> 
                        <h5 class="fw-bold"><i class="fas fa-child me-2"></i>Child <%= i + 1 %></h5>
                        <div class="col-lg-6">
                            <label class="form-label text-muted mb-0">Full Name</label><br>
                            <label class="fw-bold text-primary fs-5"><%= booking.traveler.child[i].title + booking.traveler.child[i].firstname + ' ' + booking.traveler.child[i].lastname %></label>
                        </div>
                        <div class="col-lg-6">
                            <label class="form-label text-muted mb-0">Date of Birth</label><br>
                            <label class="fw-bold text-primary fs-5"><%= ('0' + booking.traveler.child[i].dateofbirth.getDate()).slice(-2) + '/' + ('0' + (booking.traveler.child[i].dateofbirth.getMonth() + 1)).slice(-2) + '/' + booking.traveler.child[i].dateofbirth.getFullYear() %></label>
                        </div>
                    <% } %>
                </div>
                <div class="row mb-2 px-2">
                    <% for(let i = 0; i < booking.traveler.infant.length; i++) { %> 
                        <h5 class="fw-bold"><i class="fas fa-baby me-2"></i>Infant <%= i + 1 %></h5>
                        <div class="col-lg-6">
                            <label class="form-label text-muted mb-0">Full Name</label><br>
                            <label class="fw-bold text-primary fs-5"><%= booking.traveler.infant[i].title + booking.traveler.infant[i].firstname + ' ' + booking.traveler.infant[i].lastname %></label>
                        </div>
                        <div class="col-lg-6">
                            <label class="form-label text-muted mb-0">Date of Birth</label><br>
                            <label class="fw-bold text-primary fs-5"><%= ('0' + booking.traveler.infant[i].dateofbirth.getDate()).slice(-2) + '/' + ('0' + (booking.traveler.infant[i].dateofbirth.getMonth() + 1)).slice(-2) + '/' + booking.traveler.infant[i].dateofbirth.getFullYear() %></label>
                        </div>
                    <% } %>
                </div>
            </div>
        </div>
    </div>
</div>
<% if(booking.status == 'WFP') { %>
    <% if(currentUser && currentUser.booking.some( b => { return b.toString() === booking._id.toString()} ) || !currentUser) { %> 
    <div class="modal-footer">
        <a role="button" href="/booking/<%= booking._id %>/payment" class="btn btn-warning"><i class="fas fa-dollar-sign me-2"></i>PURCHASE</a>
    </div>
    <% } %>
<% } %>