<div class="chartjs-size-monitor">
    <div class="chartjs-size-monitor-expand"><div class=""></div></div>
    <div class="chartjs-size-monitor-shrink"><div class=""></div></div>
</div>
<div class="align-items-center pt-3 pb-2 mb-3 border-bottom">
  <h2><i class="fas fa-book-open me-2"></i>Booking</h2>
</div>
<%# console.log(booking.WFP) %> 
<% if(booking.WFP.length > 0) { %> 
<h3>Wait for payment booking</h3>
    <div class="table-responsive mb-2">
    <table class="table table-striped table-sm">
        <thead>
        <tr>
            <th>BID</th>
            <th>flight</th>
            <th>class</th>
            <th>status</th>
            <th>timestamp</th>
            <th></th>
        </tr>
        </thead>
        <tbody>
            <% for(let i = 0; i < booking.WFP.length; i++) { %> 
                <tr class="align-middle">
                    <td><%= booking.WFP[i].bid %></td>
                    <td><%= booking.WFP[i].flighttype %></td>
                    <td><%= booking.WFP[i].class %></td>
                    <td>Wait for payment</td>
                    <td><%= ('0' + booking.WFP[i].updatedAt.getDate()).slice(-2) + '/' + ('0' + (booking.WFP[i].updatedAt.getMonth() + 1)).slice(-2) + '/' + booking.WFP[i].updatedAt.getFullYear() + ' ' + ('0' + booking.WFP[i].updatedAt.getHours()).slice(-2) + ':' + ('0' + booking.WFP[i].updatedAt.getMinutes()).slice(-2)  %></td>
                    <td class="text-end">
                        <button class="btn btn-outline-primary btn-sm booking-details-modal-btn" data-bs-toggle="modal" data-bs-target="#booking-more-details-modal"><i class="fas fa-ellipsis-h"></i></button>
                        <input type="hidden" value="<%= booking.WFP[i].bid %>">
                    </td>
                </tr>
            <% } %> 
        </tbody>
    </table>
    </div>
<% } %> 

<% if(booking.UPC.length > 0) { %>
<h3>Under processing booking</h3>
<div class="table-responsive mb-2">
  <table class="table table-striped table-sm">
    <thead>
      <tr>
        <th>BID</th>
        <th>flight</th>
        <th>class</th>
        <th>status</th>
        <th>timestamp</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
        <% for(let i = 0; i < booking.UPC.length; i++) { %> 
            <tr class="align-middle">
                <td><%= booking.UPC[i].bid %></td>
                <td><%= booking.UPC[i].flighttype %></td>
                <td><%= booking.UPC[i].class %></td>
                <td>Wait for verifying payment</td>
                <td><%= ('0' + booking.UPC[i].updatedAt.getDate()).slice(-2) + '/' + ('0' + (booking.UPC[i].updatedAt.getMonth() + 1)).slice(-2) + '/' + booking.UPC[i].updatedAt.getFullYear() + ' ' + ('0' + booking.UPC[i].updatedAt.getHours()).slice(-2) + ':' + ('0' + booking.UPC[i].updatedAt.getMinutes()).slice(-2)  %></td>
                <td class="text-end">
                    <form action="/booking/<%= booking.UPC[i]._id %>/payment/verify?_method=PUT" method="POST">
                        <button type="button" class="btn btn-outline-primary btn-sm booking-details-modal-btn" data-bs-toggle="modal" data-bs-target="#booking-more-details-modal"><i class="fas fa-ellipsis-h"></i></button>
                        <input type="hidden" value="<%= booking.UPC[i].bid %>">
                        <button type="submit" class="btn btn-primary btn-sm"><i class="fas fa-check"></i></button>
                    </form>
                </td>
            </tr>
        <% } %> 
    </tbody>
  </table>
</div>
<% } %>

<% if(booking.CPL.length > 0) { %>
<h3>Complete booking</h3>
<div class="table-responsive mb-2">
  <table class="table table-striped table-sm">
    <thead>
      <tr>
        <th>BID</th>
        <th>flight</th>
        <th>class</th>
        <th>status</th>
        <th>timestamp</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
        <% for(let i = 0; i < booking.CPL.length; i++) { %> 
      <tr class="align-middle">
                <td><%= booking.CPL[i].bid %></td>
                <td><%= booking.CPL[i].flighttype %></td>
                <td><%= booking.CPL[i].class %></td>
                <td>Complete</td>
                <td><%= ('0' + booking.CPL[i].updatedAt.getDate()).slice(-2) + '/' + ('0' + (booking.CPL[i].updatedAt.getMonth() + 1)).slice(-2) + '/' + booking.CPL[i].updatedAt.getFullYear() + ' ' + ('0' + booking.CPL[i].updatedAt.getHours()).slice(-2) + ':' + ('0' + booking.CPL[i].updatedAt.getMinutes()).slice(-2)  %></td>
                <td class="text-end">
                <form action="/booking/<%= booking.CPL[i]._id %>/payment/unverify?_method=PUT" method="POST">
                    <button type="button" class="btn btn-outline-primary btn-sm booking-details-modal-btn" data-bs-toggle="modal" data-bs-target="#booking-more-details-modal"><i class="fas fa-ellipsis-h"></i></button>
                    <input type="hidden" value="<%= booking.CPL[i].bid %>">
                    <button type="submit" class="btn btn-danger btn-sm"><i class="fas fa-undo"></i></button>
                </form>
            </td>
        </tr>
      <% } %> 
    </tbody>
  </table>
</div>
<% } %>

<script type="module" src="/booking-modal.js" async></script>
<div class="modal fade" id="booking-more-details-modal" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-fullscreen-sm-down modal-dialog-centered modal-dialog-scrollable">
        <div class="modal-content">
        </div>
    </div>
</div>
